In [260]:
import csv
import numpy as np
import pandas as pd
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.tools as tls
import matplotlib.pyplot as plt
import matplotlib.cm as cm # To make pretty graphs

plotly.tools.set_credentials_file(username='carlosvar9103', api_key='klIO8nYKdC0Yfj54Emiw')

#import seaborn as sns

Dataset about the Population according to foreign origin, age and sex since 2008 in Vienna

In [261]:
wien_pop_raw = pd.read_csv("DATA_DS_EXE1/vie_105.csv", sep=';', header=1)
colms=[0,1,2,3,4] # colums to drop
wien_pop_raw.drop(wien_pop_raw.columns[colms],axis=1,inplace=True) 
wien_pop_raw['REF_DATE']=wien_pop_raw['REF_DATE'].apply(lambda x: int(str(x)[:4])) # edit the year
display(wien_pop_raw.head())

,SEX,AGE,POP_TOTAL,POP_SCG,POP_TUR,POP_DEU,POP_POL,POP_BIH,POP_ROU,POP_HUN,POP_SYR,POP_RUS,POP_OTHER,POP_AUT,REF_DATE
0,2,0,7962,357,240,148,158,71,74,33,1,35,709,6136,2008
1,2,1,8398,376,234,145,162,65,55,21,5,60,815,6460,2008
2,2,2,8078,323,234,139,136,80,52,23,1,54,751,6285,2008
3,2,3,7885,301,230,136,123,70,50,28,6,78,684,6179,2008
4,2,4,7766,294,242,109,104,74,52,15,1,64,727,6084,2008

In [262]:
wien_pop = wien_pop_raw.copy()
#traceTotal = dict()

data_pop_wien= { 'sex':wien_pop['SEX'],
                'age':wien_pop['AGE'],
                'total_pop':wien_pop['POP_TOTAL'],
                'pop_scg':wien_pop['POP_SCG'],
                'pop_tur':wien_pop['POP_TUR'],
                'pop_deu':wien_pop['POP_DEU'],
                'pop_pol':wien_pop['POP_POL'],
                'pop_bih':wien_pop['POP_BIH'],
                'pop_rou':wien_pop['POP_ROU'],
                'pop_hun':wien_pop['POP_HUN'],
                'pop_syr':wien_pop['POP_SYR'],
                'pop_rus':wien_pop['POP_RUS'],
                'pop_other':wien_pop['POP_OTHER'],
                'pop_aut':wien_pop['POP_AUT'],
                'year':wien_pop['REF_DATE']
                
}

df_wien0=pd.DataFrame(data_pop_wien)
df_wien=df_wien0.copy()

Population in Wien by Country of Origin from 2008 to 2018

In [263]:
data = []


#df_wien_year = df_wien[df_wien.year == 2012]
years=df_wien.year.unique()

for year in years:
    df_wien1=df_wien.copy()
    df_wien_year = df_wien1[df_wien1.year == year]
    df_wien_year=df_wien_year.drop(['sex','age','year'],axis=1)
    total=df_wien_year.agg(['sum'])

    trace = go.Bar(
        x=total.columns,
        y=[total.total_pop, total.pop_scg, total.pop_tur, total.pop_deu, total.pop_pol, total.pop_bih, total.pop_rou, total.pop_hun, total.pop_syr, total.pop_rus, total.pop_other, total.pop_aut],
        name=str(year)
    )
    data.append(trace)

layout = go.Layout(
    title='Total Population by Country of Origin in Wien by year',
    xaxis=dict(
        title='Country',
        #titlefont=dict(
            #family='Courier New, monospace',
            #size=18,
            #color='#7f7f7f'
        #)
    ),
    yaxis=dict(
        title='Population',
        #titlefont=dict(
            #family='Courier New, monospace',
            #size=18,
            #color='#7f7f7f'
        #)
    )
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='bar_population_2012')

#print(total_2012)

#Female and Male Analysis in 2012

In [264]:
df_wien = df_wien[df_wien.year == 2012] #take the year 2012
wien_pop_f=df_wien[df_wien.sex==2]
wien_pop_m=df_wien[df_wien.sex==1]


traceF=go.Bar(
    x=wien_pop_f.age, 
    y=wien_pop_f.total_pop,
    name='Female'
)

traceM=go.Bar(
    x=wien_pop_m.age, 
    y=wien_pop_m.total_pop,
    name='Male'
)

layout = go.Layout(
    title='Total Population Female vs. Male in Wien in 2012',
    xaxis=dict(
        title='Age',
        #titlefont=dict(
            #family='Courier New, monospace',
            #size=18,
            #color='#7f7f7f'
        #)
    ),
    yaxis=dict(
        title='Population',
        #titlefont=dict(
            #family='Courier New, monospace',
            #size=18,
            #color='#7f7f7f'
        #)
    )
)


data=[traceF,traceM]
fig = go.Figure(data=data, layout=layout)
#plot_url=py.plot(fig,filename)
py.iplot(fig, filename='bar_wien_pop_fvsm')

In [265]:
def aggregateAgePopulation(wien_pop):
    samples=[]
    for i in range(len(wien_pop)):
        for s in range(wien_pop.total_pop.iloc[i]):
            samples.append(wien_pop.age.iloc[i])
    #display (samples)
    return samples

In [266]:
def totalPopulation(wien_pop):
    total
    for i in range(len(wien_pop)):
        for s in range(wien_pop.total_pop.iloc[i]):
            total += (wien_pop.iloc[i])
    return total

In [267]:
samplesF=aggregateAgePopulation(wien_pop_f)
samplesM=aggregateAgePopulation(wien_pop_m)

traceF=go.Box(
    #x=samples, 
    y=samplesF,
    name='Female'
)

traceM=go.Box(
    #x=wien_pop_m.age*wien_pop_m.total_pop, 
    y=samplesM,
    name='Male'
)

layout = go.Layout(
    title='Distribution Female vs. Male Population by Age in Wien in 2012',
    xaxis=dict(
        #title='Age',
        #titlefont=dict(
            #family='Courier New, monospace',
            #size=18,
            #color='#7f7f7f'
        #)
    ),
    yaxis=dict(
        title='Age',
        #titlefont=dict(
            #family='Courier New, monospace',
            #size=18,
            #color='#7f7f7f'
        #)
    )
)

dataFvsM=[traceF,traceM]
fig = go.Figure(data=dataFvsM, layout=layout)
#plot_url=py.plot(fig,filename)
py.iplot(fig, filename='boxplots_wien_pop_fvsm')

C:\Users\Carlos\Anaconda3\lib\site-packages\plotly\plotly\plotly.py:248: UserWarning:

Woah there! Look at all those points! Due to browser limitations, the Plotly SVG drawing functions have a hard time graphing more than 500k data points for line charts, or 40k points for other types of charts. Here are some suggestions:
(1) Use the `plotly.graph_objs.Scattergl` trace object to generate a WebGl graph.
(2) Trying using the image API to return an image instead of a graph URL
(3) Use matplotlib
(4) See if you can create your visualization with fewer data points

If the visualization you're using aggregates points (e.g., box plot, histogram, etc.) you can disregard this warning.

Analysis Age of the Population by Country of Origin in 2012

In [268]:
def aggregateAgePopulation2(wien_pop):
    samples=[]
    for i in range(len(age)):
        for s in range(wien_pop.iloc[i]):
            samples.append(df_wien.age.iloc[i])
    #display (samples)
    return samples

In [269]:
df_wien = df_wien0[df_wien0.year == 2012] #take the year 2012


samples_total=aggregateAgePopulation2(df_wien.total_pop)
samples_scg=aggregateAgePopulation2(df_wien.pop_scg)
samples_tur=aggregateAgePopulation2(df_wien.pop_tur)
samples_deu=aggregateAgePopulation2(df_wien.pop_deu)
samples_pol=aggregateAgePopulation2(df_wien.pop_pol)
samples_rou=aggregateAgePopulation2(df_wien.pop_rou)
samples_hun=aggregateAgePopulation2(df_wien.pop_hun)
samples_syr=aggregateAgePopulation2(df_wien.pop_syr)
samples_rus=aggregateAgePopulation2(df_wien.pop_rus)
samples_other=aggregateAgePopulation2(df_wien.pop_other)
samples_aut=aggregateAgePopulation2(df_wien.pop_aut)



trace_total=go.Box(
    y=samples_total,
    name='Total'
)
trace_scg=go.Box(
    y=samples_scg,
    name='Serbia and Montenegro'
)
trace_tur=go.Box(
    y=samples_tur,
    name='Turkey'
)
trace_deu=go.Box(
    y=samples_deu,
    name='Germany'
)
trace_pol=go.Box(
    y=samples_pol,
    name='Poland'
)
trace_rou=go.Box(
    y=samples_rou,
    name='Romania'
)
trace_hun=go.Box(
    y=samples_hun,
    name='Hungary'
)
trace_syr=go.Box(
    y=samples_syr,
    name='Syria'
)
trace_rus=go.Box(
    y=samples_rus,
    name='Russia'
)
trace_other=go.Box(
    y=samples_other,
    name='Other'
)
trace_aut=go.Box(
    y=samples_aut,
    name='Austria'
)

layout = go.Layout(
    title='Distribution Age of Population by Country of Origin in Wien in 2012',
    xaxis=dict(
        #title='Age',
        #titlefont=dict(
            #family='Courier New, monospace',
            #size=18,
            #color='#7f7f7f'
        #)
    ),
    yaxis=dict(
        title='Age',
        #titlefont=dict(
            #family='Courier New, monospace',
            #size=18,
            #color='#7f7f7f'
        #)
    )
)

dataTotal=[trace_total,trace_scg,trace_tur,trace_deu,trace_pol,trace_rou,trace_hun,trace_syr,trace_rus,trace_other,trace_aut]
fig = go.Figure(data=dataTotal, layout=layout)
#plot_url=py.plot(fig,filename)
py.iplot(fig, filename='boxplots_wien_pop_total')

Dataset about the Erasmus student mobility study exchanges in 2012

In [270]:
#error_bad_lines=False
erasmus_raw = pd.read_csv("DATA_DS_EXE1/SM_2012_13_20141103_01.csv",sep=';', encoding='ANSI', engine='python')#, quoting=csv.QUOTE_NONE, error_bad_lines=False)
#erasmus_raw.drop(erasmus_raw.index[:1], inplace=True)
colms=[0,1,2,7,8,9,10,11,13,14,15,16,17,18,19,20,21,22,23,24,26,27,28,29,31,32,33] # colums to drop
erasmus_raw.drop(erasmus_raw.columns[colms],axis=1,inplace=True)
erasmus_raw ['STUDENT_GENDER_CDE']=erasmus_raw ['STUDENT_GENDER_CDE'].map({'F':2,'M':1})
display(erasmus_raw.head(5))

,HOME_INSTITUTION_CTRY_CDE,STUDENT_AGE_VALUE,STUDENT_GENDER_CDE,STUDENT_NATIONALITY_CDE,HOST_INSTITUTION_COUNTRY_CDE,TOTAL_ECTS_CREDITS_AMT,STUDY_GRANT_AMT
0,ES,21,2,ES,UK,24.0,355.84
1,ES,22,1,ES,PT,58.0,1386.43
2,ES,20,2,ES,FR,54.0,1289.7
3,ES,20,2,ES,FR,57.0,1192.97
4,ES,22,2,ES,UK,30.0,644.85

Analyse the dataset with the students gointo to Austria

In [271]:
#erasmus_raw ['STUDENT_AGE_VALUE'].describe()
erasmus = erasmus_raw.copy()

data_erasmus= { 'home_uni':erasmus['HOME_INSTITUTION_CTRY_CDE'],
                'age':erasmus['STUDENT_AGE_VALUE'],
                'gender':erasmus['STUDENT_GENDER_CDE'],
                'nationality':erasmus['STUDENT_NATIONALITY_CDE'],
                'host_uni':erasmus['HOST_INSTITUTION_COUNTRY_CDE'],
                'ects':erasmus['TOTAL_ECTS_CREDITS_AMT'],
                'grant':erasmus['STUDY_GRANT_AMT']                
}

erasmus=pd.DataFrame(data_erasmus)

erasmus_AT = erasmus[erasmus.host_uni =='AT']


distintos = erasmus_AT.home_uni.unique()
numdistintos = len(distintos)
print (distintos, numdistintos)

['ES' 'DE' 'FR' 'IT' 'PL' 'TR' 'UK' 'CZ' 'NL' 'PT' 'RO' 'FI' 'HU' 'BENL'
 'GR' 'LT' 'SE' 'DK' 'SK' 'BEFR' 'CH' 'LV' 'NO' 'EE' 'LU' 'HR' 'SI' 'IE'
 'BG' 'IS' 'CY' 'MT'] 32

In [272]:
def tracesErasmusFeatureCountry(distintos, feature):
    
    data_trace=[]
    
    for i in distintos:
        erasmusCountry=erasmus[erasmus.home_uni == i]
        #data_feature.append(erasmusCountry.loc[:,''+feature])
        trace=go.Box( 
            y=erasmusCountry.loc[:,''+feature],
            name=i
        )
        data_trace.append(trace)  
    return data_trace

In [273]:
tracesErasmusGrants=tracesErasmusFeatureCountry(distintos, 'grant')

#display(erasmusGrants)

layout = go.Layout(
    title='Distribution Home Countries Erasmus Students to Austria by Grant in 2012',
    xaxis=dict(
        #title='Age',
        #titlefont=dict(
            #family='Courier New, monospace',
            #size=18,
            #color='#7f7f7f'
        #)
    ),
    yaxis=dict(
        title='Grant',
        #titlefont=dict(
            #family='Courier New, monospace',
            #size=18,
            #color='#7f7f7f'
        #)
    )
)

fig = go.Figure(data=tracesErasmusGrants, layout=layout)
#plot_url=py.plot(fig,filename)
py.iplot(fig, filename='boxplots_erasmus_grants')

In [274]:
tracesErasmusGrants=tracesErasmusFeatureCountry(distintos, 'age')

#display(erasmusGrants)

layout = go.Layout(
    title='Distribution Home Countries Erasmus Students to Austria by Age in 2012',
    xaxis=dict(
        #title='Age',
        #titlefont=dict(
            #family='Courier New, monospace',
            #size=18,
            #color='#7f7f7f'
        #)
    ),
    yaxis=dict(
        title='Age',
        #titlefont=dict(
            #family='Courier New, monospace',
            #size=18,
            #color='#7f7f7f'
        #)
    )
)

fig = go.Figure(data=tracesErasmusGrants, layout=layout)
#plot_url=py.plot(fig,filename)
py.iplot(fig, filename='boxplots_erasmus_ages')

In [275]:
tracesErasmusGrants=tracesErasmusFeatureCountry(distintos, 'ects')

#display(erasmusGrants)

layout = go.Layout(
    title='Distribution Home Countries Erasmus Students to Austria by ECTS in 2012',
    xaxis=dict(
        #title='Age',
        #titlefont=dict(
            #family='Courier New, monospace',
            #size=18,
            #color='#7f7f7f'
        #)
    ),
    yaxis=dict(
        title='ECTS',
        #titlefont=dict(
            #family='Courier New, monospace',
            #size=18,
            #color='#7f7f7f'
        #)
    )
)

fig = go.Figure(data=tracesErasmusGrants, layout=layout)
#plot_url=py.plot(fig,filename)
py.iplot(fig, filename='boxplots_erasmus_ects')

Box plots of the Age of Males and Females

In [276]:
traceF=go.Box(
    #x=samples, 
    y=erasmus.age[erasmus.gender == 2],
    name='Female'
)

traceM=go.Box(
    #x=wien_pop_m.age*wien_pop_m.total_pop, 
    y=erasmus.age[erasmus.gender == 1],
    name='Male'
)

layout = go.Layout(
    title='Distribution Female vs. Male by Age of Erasmus Students in Austria in 2012',
    xaxis=dict(
        #title='Age',
        #titlefont=dict(
            #family='Courier New, monospace',
            #size=18,
            #color='#7f7f7f'
        #)
    ),
    yaxis=dict(
        title='Age',
        #titlefont=dict(
            #family='Courier New, monospace',
            #size=18,
            #color='#7f7f7f'
        #)
    )
)

dataFvsM=[traceF,traceM]
fig = go.Figure(data=dataFvsM, layout=layout)
#plot_url=py.plot(fig,filename)
py.iplot(fig, filename='boxplots_erasmus_fvsm')